### 1. Why Python?

* Easy to learn
* Easy to read
* Easy to maintain
* Interactive Mode

### 2. Rules to follow in Python

* Python is case sensitive.
* For path specification, python uses forward slashes. For window's path C:\folderA\folderB relative python program path should be C:/folderA/folderB
* There is no command terminator, which means no semicolon ; or anything.
* ou can use single quotes '', double quotes "" and even triple quotes ''' """ to represent string literals.
* In python, you can write comments in your program using a # at the start. A comment is ignored while the python script is executed.
* Proper Indentation should be followed.

### 3. Overview

#### 3.1 Value: 
The data/information. [2,5,7.8,'Krishna']

#### 3.2 Variable
To store the value. Krishna = ['Supply Chain Management"]

#### 3.3 Functions
To perform certain activities on variables.

#### 3.4 Library
List of functions, we call it as libraries.

#### 3.5 Pandas library
To deal with end-to-end operations similar to excel operations.

#### 3.6 Numpy library
To deal with end to end array related operations

#### 3.7 Scikit-learn library
To perform ML library

#### 3.8 Matplotlib and Seaborn
For Data Vizualization

#### 3.9 NLTK/Spacy
To perform text related operations

#### 3.10 Scipy
To perform scientific operations we go with Scipy library

#### 3.11 Flask
Is a web application framework written in Python

#### 3.12 'pickle' format - ML and '.h5' format - DL
To perform serialization of ml model - storing our ml model for future use

### 4. IDE

* They are highly interactive
* Auto-complete 
* debugging
* run the command and test in line by line
* Ease of Coding

### Python Basic Coding Practise

#### Data Types

We have 3 datatypes in Python.

* String/Object - names/sequence of characters(it can be alpha numeric also) inside single/double/triple quotation. Eg = """Gmail""".
* Int - whole number
* float - decimal number

In [3]:
"Hi"

'Hi'

In [7]:
type("""Hi""")

str

In [ ]:
print

In [5]:
type(1)

int

In [7]:
type(0.2)

float

#### Variable Assignment

In [9]:
# Mathematical operation using variable Assignment

a=5
b=8

print(a*b)
print(a/b)
print(a%b)
print((a+b)*(a/b))

40
0.625
5
8.125

#### String Formatting

In [10]:
print("My name is {} and I'm living in {}.".format('Gabriel','Bangalore'))

My name is Gabriel and I'm living in Bangalore

In [12]:
name = 'Krishna'
location = 'USA'

In [13]:
print("My learner name is {} and she is from {}.".format(name,location))

My learner name is Krishna and she is from USA

In [14]:
# Determine length of the variable 'name'
len(name)

7

#### Data Structures and Boolean 

- Boolean
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

#### Boolean Variables

Boolean values are the two constant objects False and True. 

They are used to represent truth values (other values can also be considered
false or true). 

In numeric contexts (for example, when used as the argument to an
arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean,
if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [15]:
False

False

In [16]:
type(True)

bool

In [28]:
my_str = 'john gabriel'

print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.endswith('l')) #test if string endswith a d
print(my_str.startswith('J')) #test if string startswith H

False
True
True
False

#### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [29]:
type([])

list

In [37]:
lst=['DataScience', 'AI', 100, 200, 300, 204]
len(lst)

6

In [31]:
type(lst)

list

#### Append
The append() method adds an item to the end of the list.

In [38]:
# append is used to add elements in the list
lst.append("NLP")

In [39]:
lst

['DataScience', 'AI', 100, 200, 300, 204, 'NLP']

In [34]:
lst.append(["Computer Vision","Python"])

In [35]:
lst

['Mathematics',
 'chemistry',
 100,
 200,
 300,
 204,
 'NLP',
 ['Computer Vision', 'Python']]

In [36]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

#### Insert
The insert() method inserts the specified value at the specified position.

In [40]:
## insert in a specific order

lst.insert(2,"Data Analytics")

In [41]:
lst

['DataScience', 'AI', 'Data Analytics', 100, 200, 300, 204, 'NLP']

In [42]:
lst.append(["R","Predictive Analytics"])

In [43]:
lst

['DataScience',
 'AI',
 'Data Analytics',
 100,
 200,
 300,
 204,
 'NLP',
 ['R', 'Predictive Analytics']]

#### Extend Method
The extend() method adds the specified list elements to the end of the current list.

In [44]:
lst=[1,2,3,4,5,6]

In [45]:
lst.extend([8,9])

In [46]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

In [47]:
lst.extend(["R","Predictive Analytics"])

In [48]:
lst

[1, 2, 3, 4, 5, 6, 8, 9, 'R', 'Predictive Analytics']

#### Various Operations that we can perform in List

In [49]:
lst=[1,2,3,4,5]

In [50]:
sum(lst)

15

In [51]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

#### Pop() Method
The pop() method takes a single argument (index). The argument passed to the method is optional. If not passed, the default index -1 is passed as an argument (index of the last item). pop() is an inbuilt function in Python that removes and returns last value from the list or the given index value.

In [55]:
lst

[1, 2, 3, 4, 5]

In [56]:
lst.pop()

5

In [57]:
lst

[1, 2, 3, 4]

In [58]:
lst.pop(-1)

4

In [59]:
lst

[1, 2, 3]

#### count():Calculates total occurrence of given element of List

In [60]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [61]:
##Min and Max
min(lst)

1

In [62]:
max(lst)

5

### SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [64]:
set_var={1,2,3,4,3}

In [65]:
type(set_var)

set

In [68]:
set_var={"DT","RF",'GB'}
print(set_var)
type(set_var)

{'DT', 'GB', 'RF'}

set

In [67]:
dir(set_var)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [69]:
## Inbuilt function in sets
set_var.add("XGB")

In [70]:
print(set_var)

{'DT', 'GB', 'RF', 'XGB'}

In [71]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [72]:
set2.intersection_update(set1)

In [73]:
set2

{'Avengers', 'Hitman', 'IronMan'}

#### Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [76]:
dic={}

In [77]:
type(dic)

dict

In [78]:
type(dict())

dict

In [79]:
set_ex={1,2,3,4,5}

In [80]:
type(set_ex)

set

In [81]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [82]:
type(my_dict)

dict

In [83]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

#### for loop

In [84]:
# We can even loop throught the dictionaries keys
my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [85]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [86]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [97]:
import numpy as np
a_list = [1, 2, 3]

an_array = np.array(a_list)
multiplied_array = an_array * 2

print(multiplied_array)

[2 4 6]

### Tuples
A tuple is a collection of objects which ordered and immutable. Tuples are sequences, just like lists.

In [87]:
## create an empty Tuples

my_tuple=tuple()

In [88]:
type(my_tuple)

tuple

In [89]:
my_tuple=()

In [90]:
type(my_tuple)

tuple

In [92]:
my_tuple=("John","Gabriel","Krishna")

In [93]:
type(my_tuple)

tuple

In [94]:
dir(my_tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [95]:
## Inbuilt function
my_tuple.count('John')

1

In [2]:
# Create a dictionary

# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}
print(my_dict)
#clear() - Removes all the elements from the dictionary.
my_dict.clear()
print(my_dict)

{'name': 'John', 1: [2, 4, 3]}
{}

In [4]:
my_plan = {'Feb':'Python Basics','Mar':'Statistics','Apr':[90,100,100]}
print("My plan for the next few months is",my_plan)

#clear() - Removes all the elements from the dictionary.
my_plan.clear()
print("My plan for th next few months is",my_plan)

My plan for the next few months is {'Feb': 'Python Basics', 'Mar': 'Statistics', 'Apr': [90, 100, 100]}
My plan for th next few months is {}

In [5]:
#copy() -Returns a copy of the dictionary
old_list = [1, 2, 3]
new_list = old_list

In [6]:
old_list = [1, 2, 3]
new_list = old_list

# I cant undertstand

# add an element to list
new_list.append('a')

print('New List:', new_list)
print('Old List:', old_list)

New List: [1, 2, 3, 'a']
Old List: [1, 2, 3, 'a']